<b>👋 Приветствуем Вас в онлайн сервисе AVILINE!</b>

<b>🤖  Я - бот и с моей помощью Вы сможете: </b>

- ℹ️  Получить информацию о продукции и оставить заявку о покупке (для этого нажмите кнопку "О Продукции")

- 🔧  Получить техническую поддержку по возникшему вопросу (для этого нажимет кнопку "Техподдержка")

- 👍  Оставить заявку на гарантийное обслуживание (для этого нажмите кнопку "Гарантийная служба")

<i><b>Примечание: В случае, если бот перестал отвечать - пожалуйста, перезапустите его при помощи команды /start</b></i>

<b>/start</b> - <i> Начать работу с 🤖 </i>
<b>/help</b> - Как пользоваться ботом