Пожалуйста, загрузите заказ наряд на установку или гарантийный талон в виде фото (Не более 10 МБ!) и оставьте Ваши контактные данные, чтобы мы могли с Вами связаться.
<b><i>⚠️ Файл хранится на сервере ровно 15 минут после отправки боту. Пожалуйста, не задерживайтесь с отправкой сообщения, в противном случае файл может быть удалён.</i></b>
{% if err %}❌ Ошибка: {{ err }}{% endif %}
Талон: {% if user_warranty_card %}✔️{% else %}-{%endif%}
Контактные данные: {% if user_warranty_message %}✔️ {{ user_warranty_message }}{% else %}-{%endif%}
