<b>👋 Приветствуем Вас в онлайн сервисе Aviline!</b>

<b>🤖  Я - бот и с моей помощью Вы сможете: </b>

- ℹ️  Получить информацию о продукции и оставить заявку о покупке (для этого нажмите кнопку "купить" в меню снизу)

- 🔧  Получить техническую поддержку по возникшему вопросу (для этого нажимет кнопку "поддержка" в меню снизу) 🔨

- 👍  Оставить отзыв о нашей продукции (для этого нажмите кнопку "оставить отзыв") <i>*not implemented yet*</i>

<b>/start</b> - <i> to begin </i>
<b>/help </b> - <i> for navigation info</i>